<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Suraj's Blog</title>
</head>
<body>
    <div>
        <h1><a href="">Suraj's Blog</a></h1>
        <p>Hi!, Welcome to the Blog created and documented by Suraj Oliver</p>
    </div>

    <div>
        <p>published: 13-dec-2019</p>
        <h2>My First Post</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque ratione aliquam reprehenderit at modi consequuntur culpa dolore deserunt quasi, sed magnam expedita exercitationem unde maiores possimus omnis quibusdam praesentium nobis.</p>
    </div>
    <div>
        <p>published: 25-dec-2019</p>
        <h2>My Second Post</h2>
        <p>Consectetur adipisicing elit. Itaque ratione aliquam reprehenderit at modi consequuntur culpa dolore deserunt quasi, sed magnam expedita exercitationem unde maiores possimus omnis quibusdam praesentium nobis.</p>
    </div>
        
</body>
</html>