<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Suraj's Blog</title>
</head>
<body>
    <div>
        <h1><a href="">Suraj's Blog</a></h1>
        <p>Hi!, Welcome to the Blog created and documented by Suraj Oliver</p>
    </div>

    {% for post in posts %}
        <div>
            <p>published: {{ post.published_date }}</p>
            <h2>{{ post.title }}</h2>
            <p>{{ post.body }}</p>
        </div>
    {% endfor %}        
</body>
</html>